$n-white: hsl(0, 0%, 100%);
$n-light-grayish-violet: hsl(270, 3%, 87%);
$n-dark-grayish-violet: hsl(279, 6%, 55%);
$n-very-dark-violet: hsl(278, 68%, 11%);

$linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
$red: hsl(0, 100%, 66%);
