@use "../util/" as u;

.container {
  @include u.breakpoint(laptop) {
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    height: 100vh;
  }
}
.card {
  @include u.breakpoint(laptop) {
    // &__front,
    // &__back {
    //   width: 100%;
    // }

    &__front,
    &__back {
      width: 25rem;
      box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    }

    &__front {
      top: 0;
      left: auto;
      right: 0;
      transform: translate(30%, 95%);
    }

    &__back {
      right: 0;
      top: auto;
      bottom: 0;
      transform: translate(50%, -95%);
    }

    &__details {
      padding: 1.5rem;
      font-size: 1.6rem;
    }

    &__bott {
      margin-top: 1.5rem;
      font-size: 0.85rem;
    }

    &__cvv {
      font-size: 0.85rem;
    }
  }
}

.form {
  @include u.breakpoint(laptop) {
    width: 65%;
    // border: 1px solid red;
    height: 100vh;
    padding-top: 0;
    padding-inline: 0;

    display: grid;
    place-items: center end;

    &__card {
      margin-right: 12rem;
    }
  }
}
